
*,
*::before,
*::after,
ul,
li,
nav,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #0065fc;
  transform: scale(1.01);
}

h2 {
  font-size: 20px;
}




html,
body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.bigcontainer {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*=======En-tête========*/

header {
  margin: 10px;
  padding: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  min-width: 280px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header_logo .img {
width: 95px;
height: 46px;


}


.navigation-list {
  display: flex;
 }

.main-nav {
  display: flex;

  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  text-decoration: none;
  color: #000;
}

.signin {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-right: 40px;
}

.signin a {
  padding: 0 20px;
  font-weight: bold;
  color: #0065fc;
}

nav ul li {
  border-top: solid 2.5px transparent;
}

.main-nav .location {
  padding: 65px 20px 10px 20px;
  color: #0065fc;
}

.main-nav .location:hover {
  border-top: 2px solid #0065fc;
}

.main-nav .activities {
  padding: 65px 20px 10px 20px;
}

.main-nav .activities:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

.main-nav .signin {
  color: #0065fc;
  font-weight: bold;
}

/*=====paragraphe de navigation ======*/

.main-container {
  position: relative;
  top: 61px;
}

.main-container h1 {
  font-size: 25px;
}
.main-container .min-h1 {
  display: none;
}

.main-container p {
  margin-top: 25px;
}

/*=====Boutton de recherche========*/

.search-container {
  margin-top: 80px;
}

.btn-1 .gps {
  background-color: #f2f2f2;
  height: 50px;
  width: 50px;
  margin: 0px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-1 .search {
  position: relative;
  right: 5px;
  margin-right: 0px;
  width: 200px;
  height: 50px;
  border: 1px solid #f2f2f2;
  font-size: 18px;
  font-weight: bold;
}

input::placeholder {
  position: relative;
  left: 10px;
  color: #000;
}

.search:focus {
  outline: none; /* afin de ne pas avoir les bordures par défaut lors du clique sur le placeholder*/
}

.btn-2 {
  margin-left: -10px;
  width: 110px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  background-color: #0065fc;
  color: #fff;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.btn-2:focus {
  outline: none;
}

.btn-2-min {
  display: none;
}

/*=======Catégories filtre======*/

.filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 25px;
}

.filter-container h1 {
  font-size: 1.1em;
}

.filter-mini {
  display: flex;
}

.filter-categories {
  margin-left: 25px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  width: 160px;
  height: 50px;
}

.filter-categories:hover {
  transition: 0.5s;
  background: #deebff;
  border: none;
}
.filter-categories .filter-icons {
  background-color: #deebff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #0065fc;
}

.filter-categories .filter-details {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
}

.filter-details:hover {
  color: #0065fc;
  transform: scale(1.05);
  box-shadow: 0 0 3px 2px #d8d7d7;
}

.family {
  width: 145px;
}

.animal {
  width: 200px;
}

/*=======Header-Infos======*/

.infos {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.infos .news {
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #0065fc;
}

.infos p {
  margin-left: 25px;
  font-size: 15px;
}

/*========Menu Principal Hébergements======*/

main {
  margin: 0 auto;
  padding: 25px;
}

.group {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.lodgement {
  background-color: #f2f2f2;
  flex: 100%;
  height: auto;
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.lodgement h1 {
  font-size: 25px;
  margin: 25px 25px 25px;
}
.lodgement-container {
  flex: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 20px;
}

.lodgements-cart {
  flex: 25%;
  margin-top: 25px;
  height: 210px;
  margin-left: 18px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #b1b1b14b;
  transition: box-shadow 0.2s;
}

.lodgements-cart:hover {
  transform: scale(1.05);
  box-shadow: 0 0 3px 2px #d8d7d7;
}

.lodgements-cart img {
  height: 115px;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.lodgements-details {
  display: flex;
  flex-direction: column;
}
.lodgements-details h3 {
  font-size: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

.lodgements-details p {
  font-size: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.price {
  font-weight: bold;
}

.star-icons {
  display: inline-block;
  position: relative;
  left: 15px;
  font-size: 12px;
}

.full {
  color: #0065fc;
}

.simple {
  color: #f2f2f2;
}

.other-page {
  flex: 1;
  margin-left: 25px;
  margin-top: 50px;
}

.other-page a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/*========Coté==============*/

aside {
  flex: 20%;
  height: 615px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-left: 30px;
  padding: 15px;
}
.aside-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.aside-title h1 {
  font-size: 20px;
}

.aside-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-container {
  width: 340px;
  height: 145px;
  background-color: #fff;
  box-shadow: 0 0 6px 3px #b1b1b14b;
  border-radius: 15px;
  margin-top: 35px;
  margin-left: -5px;
}

.aside-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 3px 2px #d8d7d7;
}

.aside-cart img {
  object-fit: cover;
  width: 100px;
  height: 135px;
  margin: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.cart-details {
  display: flex;
  flex-direction: column;

  margin-top: -125px;
  margin-left: 120px;
  font-size: 0.7em;
  margin-right: 20px;
  
}
.cart-details h3 {
  font-size: 1.3em;
}
.cart-details p {
  font-size: 1.2em;
}


.cart-star-icons {
  margin-top: 40px;
  font-size: 12px;
}

.line-1 {
  font-size: 25px;
  margin-right: 10px;
}

/*============Menu principal Activités=========*/

.activites__group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  cursor: pointer;
}

.title {
  margin-bottom: 50px;
}
.activite {
  width: 23%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  border-radius: 10px 10px 0 0;
  background-size: contain;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #b1b1b14b;
}

.activite .image {
  flex: 1;
  border-radius: 8px 8px 0 0;
}
.activite h6 {
  font-size: 0.9em;
  margin: 15px;
}
main .activites__list .activites__group .activite2 {
  flex-basis: 60%;
}
main .activites__list .activites__group .activite3 {
  flex-basis: 35%;
}
main .activites__list .activites__group .activite5 {
  flex-basis: 45%;
}
main .activites__list .activites__group .activite6 {
  flex-basis: 45%;
}

.activite1 .image {
  background-image: url("../img/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.activite2 .image {
  background-image: url("../img/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.activite3 .image {
  background-image: url("../img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.activite4 .image {
  background-image: url("../img/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.activite5 .image {
  background-image: url("../img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.activite6 .image {
  background-image: url("../img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

/**=======Bas de page==================*/

footer {
  width: auto;
  height: 215px;
  background-color: #f2f2f2;
  margin: 10px;
}

.footer-line {
  display: flex;
  align-items: center;
}

.footer-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 50px;
}
.footer-description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-description-loge {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 300px;
  margin-bottom: 40px;
}
footer h4 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer-link {
  text-decoration: none;
  margin-bottom: 12px;
  color: #000;
}

.footer-link:hover {
  color: #0065fc;
}
footer h4 {
  font-size: 14px !important;
}
.footer-link {
  font-size: 12px !important;
}
/* Mediaqueries */


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .btn-2 {
    display: none;
  }
  .btn-2-min {
    position: relative;
    bottom: 50px;
    left: 60%;
    display: block;
    background-color: #0065fc;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    line-height: 50px;
    border: none;
    cursor: pointer;
  }

  .btn-1 .search {
    position: relative;
    right: 5px;
    margin-right: 0px;
    width: 60%;
    height: 50px;
    border: 1px solid #f2f2f2;
    font-size: 18px;
  }

  .search-icons {
    color: #fff;
    font-size: 15px;
  }
  .filter-categories {
    margin-bottom: 20px;
  }

  .animal {
    margin-left: 75px;
  }
  .group {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: normal;
  }
  .lodgement {
    background-color: #fff;
  }

  aside {
    width: 100vw;
    margin-bottom: 50px;
    margin-left: -40px;
  }

  .aside-container {
    width: 100%;
  }

  .cart-details {
    margin-left: 140px;
  }

  .footer-description-loge {
    margin-left: 50px;
  }
  .footer-link {
    font-size: 15px;
  }

  .footer-nav {
    margin-left: 50px;
  }
}

@media screen and (max-width: 764px) {
  header {
    margin: 15px;
    padding: 15px;
    
  }

  .main-container {
    position: relative;
    top: 0;
  }

  .main-nav .location:hover,
  .main-nav .activities:hover {
    border-top: none;
  }

  nav ul li {
    border-bottom: 2.5px solid #f2f2f2;
    padding-bottom: 15px;
  }

  .navigation-item {
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 25px;
  }

  .navigation-item:hover {
    border-top: none;
    color: #0065fc;
    /*padding-bottom: 60px;*/
    border-bottom: 2px solid #0065fc;
  }

  .navigation-list {
    display: block;
  }

  .min-signup .search-container {
    margin-top: 30px;
  }

  .infos {
    margin-top: 29px;
  }

  .bigcontainer {
    padding-left: 0;
    padding-right: 0;
  }

  main {
    padding: 0;
  }

  .filter-container {
    display: inline-block;
    margin-top: -20px;
  }

  .filter-mini {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filter-categories {
    display: block;
    margin-top: 20px;
    margin-left: 0;
  }
  .eco {
    width: 160px;
  }

  .family {
    margin-left: 10px;
  }

  .filter-details {
    font-size: 13px;
  }

  .infos .news {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
  }
  .infos p {
    font-size: 12px;
  }

  .btn-2 {
    display: none;
  }

  .btn-2-min {
    position: relative;
    bottom: 50px;
    left: 80%;
    display: block;
    background-color: #0065fc;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    line-height: 50px;
    border: none;
    cursor: pointer;
  }
  .search-icons {
    color: #fff;
    font-size: 15px;
  }

  .btn-1 .search {
    position: relative;
    right: 5px;
    margin-right: 0px;
    width: 80%;
    height: 50px;
    border: 1px solid #f2f2f2;
    font-size: 18px;
    font-weight: bold;
  }

  .min-signup {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    bottom: 143px;
    left: 90px;
    text-decoration: none;
    color: #0065fc;
    font-weight: bold;
  }

  .main-nav {
    flex-grow: 1;
    order: 3;
    width: 100vw;
    margin-left: -35px;
    margin-right: -35px;
    margin-bottom: 20px;
  }

  .main-nav li {
    display: block;
    margin-top: 35px;
    margin-left: 0;
  }

  .main-nav .location::before {
    display: none;
  }

  .group {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: normal;
  }

  .star-icons {
    margin-bottom: 20px;
  }
  aside {
    width: 100vw;
    margin-bottom: 50px;
    margin-left: -3px;
    margin-bottom: 50px;
  }
  .aside-container {
    width: 100%;
    margin-left: 0;
  }

  .lodgement {
    background-color: #fff;
    padding: 0;
  }

  .lodgement h2 {
    margin-left: 20px;
  }

  .lodgement-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .lodgements-cart {
    flex: 0;
    flex-direction: column;
  }

  .cart-details {
    font-size: 0.8em;
    margin-left: 150px;
  }

  .cart-details h3 {
    font-size: 15px;
  }

  .cart-details p {
    font-size: 0.8em;
  }
  .cart-star-icons {
    margin-bottom: 20px;
  }

  .other-page {
    margin-top: 25px;
  }

  main .activites__list .activites__group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 20px;
    align-items: center;
    height: 73em;
  }

  .title {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  main .activites__list .activites__group .activite {
    flex-basis: 12em !important;
    width: 100%;
    margin-top: 15px;
  }

  footer {
    height: auto;
    margin: -10px;
  }

  .footer-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .footer-nav-container {
    margin: 0;
    display: block;
  }

  .footer-description {
    margin-left: 25px;
  }
  .footer-description-loge {
    margin-left: 25px;
    margin-bottom: 0;
  }
  .footer-nav {
    display: flex;
    align-items: flex-start;
    margin-left: 25px;
  }
}